{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Posts by {{ author.username }}</title>
</head>
<body>
    {% block content %}
    <div class="container" align="center">

    <br/>
    <br/>
    <div class="container" align="center">
        <h1>All Posts by {{ author.username }}</h1>
        <br/>
        <br/>
        <!-- cycle through all uploads objects -->
        {% for post in posts.all %}
        <a href="{% url 'uploads:post_detail' post.id %}">{{ post.title }}</a>
        <br/>
        <!-- check if file object is video -->
        {% if post.vid_bool is True %}
        <div>
            <video width="480" height="300" controls>
              <source src="{{ post.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
        {% if post.vid_bool is False %}
        <div>
            <img src="{{ post.file.url }}" class="rounded" style="max-height:300px;">
        </div>
        {% endif %}
        <br/>
        {{ post.pub_date_pretty }} by {{ post.author.username }}
        <br/>
        <br/>
        {% endfor %}
    </div>

    {% endblock %}
    </div>
</body>
</html>